{% extends "page.html" %}
{% block content %}
<div class="section-container">
  <div class="sections-wrapper">
      <div class="section-content">
       {% with hero_title=page.title, hero_description=page.description, hero_cta=page.hero_cta, hero_image=page.hero_image %}
  {% include "components/hero.html" %}
  {% endwith %}
      </div>
    <div class="section intro-section">
      <div class="section-content">
        {% include "components/home/intro-section.html" %}
      </div>
    </div>
    <div class="section pitch-section">
      <div class="section-content">
        {% include "components/home/pitch-section.html" %}
      </div>
    </div>
    <div class="section promises-section">
      <div class="section-content">
        {% include "components/home/promises-section.html" %}
      </div>
    </div>
    <div class="section landmarks-section">
      <div class="section-content">
        {% include "components/home/landmarks-section.html" %}
      </div>
    </div>

    <div class="section recent-posts-section">
      <div class="section-content">
        {% include "components/recent-posts.html" %}
      </div>
    </div>
  </div>



{% endblock %}
